---
import FormattedDate from "@components/FormattedDate.astro";
import { Image } from "astro:assets";
import Tag from "@components/Tag.astro";

const { post } = Astro.props;
const { title, description, pubDate, author, heroImage, tags } = post.data;
const href = `/blog/${post.slug}/`;
---

<article class='mx-auto w-full md:max-w-screen-sm lg:max-w-screen-md break-all'>
  <div class='flex flex-col p-5 space-y-5'>
    <h2>
      <a
        href={href}
        class='text-2xl font-bold hover:underline'
        >{title}</a
      >
    </h2>

    <div class='flex justify-start flex-wrap items-baseline space-x-1 text-sm text-primary-dark/70 dark:text-primary-light/70'>
      <span>{author}</span>
      <span>发布于</span>
      <FormattedDate date={pubDate} />
      {
        tags.map((tag) => (
          <a href={`/tags/${tag}`}>
            <Tag tag={tag} />
          </a>
        ))
      }
    </div>
    {
      heroImage && (
        <a
          href={href}
          title={title}>
          <figure
            id='heroImage'
            class='w-auto h-full min-w-28 min-h-20'>
            <Image
              src={heroImage}
              alt={title}
              loading='lazy'
              width='1920'
              height='1080'
              class='object-contain rounded-md'
            />
          </figure>
        </a>
      )
    }

    <p>
      {description ? description : post.body.substring(0, 50)}
    </p>
    <p>
      <a
        href={href}
        class='border-dashed border-b border-primary'>
        阅读全文 »</a
      >
    </p>
  </div>
</article>
