---
import FormattedDate from "@components/FormattedDate.astro";

import Tag from "@components/Tag.astro";

const { post } = Astro.props;
const { title, description, pubDate, author, heroImage, tags } = post.data;
const href = `/blog/${post.slug}/`;
---

<article class="mx-auto w-auto md:max-w-screen-sm lg:max-w-screen-md break-all">
  <div class="flex flex-col p-5 space-y-5">
    <h2>
      <a href={href} class="text-2xl font-bold hover:underline">{title}</a>
    </h2>

    <div
      class="flex justify-start flex-wrap items-baseline space-x-1 text-zinc-500 text-sm"
    >
      <span>{author}</span>
      <span>发布于</span>
      <FormattedDate date={pubDate} />
      {
        tags.map((tag) => (
          <a href={`/tags/${tag}`}>
            <Tag tag={tag} />
          </a>
        ))
      }
    </div>
    {
      heroImage && (
        <a href={href} title={title}>
          <figure id="heroImage" class="w-auto h-full min-w-28 min-h-20">
            <img
              src={heroImage}
              alt={title}
              loading="lazy"
              class="object-contain rounded-md"
            />
          </figure>
        </a>
      )
    }

    <p>
      {description ? description : post.body.substring(0, 150)}
    </p>
    <p>
      <a href={href} class="border-dashed border-b border-purple-500">
        阅读全文 »</a
      >
    </p>
  </div>
</article>
