---
import "@assets/styles/global.css";
import BaiduAnalysis from "@components/BaiduAnalysis.astro";
import { config } from "@config";
import { ViewTransitions } from "astro:transitions";
import PWA from "@components/PWA.astro";

interface Props {
  title: string;
  description: string;
  keyword: string;
}
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const { title, description, keyword } = Astro.props;
---

<head>
  <!-- Global Metadata -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="generator" content={Astro.generator} />

  <!-- Canonical URL -->
  <link rel="canonical" href={canonicalURL} />
  <link rel="sitemap" href={`${Astro.site}sitemap-index.xml`} />
  <link rel="alternate" type="application/rss+xml" title={title} href={`${Astro.site}rss.xml`} />
  <!-- Primary Meta Tags -->
  <title>{`${title}|${config.title}`}</title>
  <meta name="title" content={`${title}|${config.title}`} />
  <meta name="description" content={`${description}|${config.description}`} />
  <meta name="keywords" content={`${keyword}|${config.keyword}`} />
  <meta name="msvalidate.01" content="419860CEB9D718497614927D5421945B" />
  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website" />
  <meta property="og:url" content={Astro.url} />
  <meta property="og:title" content={title} />
  <meta property="og:description" content={description} />
  <meta property="og:image" content={`${Astro.site}config.header_images.src`}/>

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:url" content={Astro.url} />
  <meta property="twitter:title" content={title} />
  <meta property="twitter:description" content={description} />
  <meta property="twitter:image" content={`${Astro.site}config.header_images.src`} />

  <script is:inline>
    localStorage.theme && !document.documentElement.classList.contains("dark")
      ? document.documentElement.classList.add("dark")
      : "";
  </script>

  {import.meta.env.PROD && <BaiduAnalysis />}
  <ViewTransitions />
  <PWA />
</head>
