---
import ActiveLink from "@components/ActiveLink.astro";
import Search from "./Search.astro";
import { config } from "@config";
---

<nav id="navbar" class="fixed-nav h-16 max-w-screen max-sm:h-28 z-10 theme">
  <div class="container mx-auto flex flex-wrap">
    <ul class="flex flex-row justify-start  items-center flex-auto">
      <li class="nav-link">
        <ActiveLink href={config.url} target={"_blank"}>
          <img
            src={config.avatar}
            alt={config.author}
            loading="lazy"
            class="size-10 rounded-full"
          />
          <span class="ml-3">{config.author}</span>
        </ActiveLink>
      </li>
      {
        config.nav.map((item) => (
          <li class="nav-link">
            <ActiveLink href={item.href}>{item.title}</ActiveLink>
          </li>
        ))
      }
    </ul>
    <div class="lg:basis-1/3 max-sm:basis-full">
      {config.simple_search.enable && <Search />}
    </div>
  </div>
</nav>

<style>
  .nav-link {
    @apply flex justify-center items-center w-auto h-14 px-2;
  }

  .nav-link a {
    @apply flex justify-center items-center w-full h-full mx-2  py-1 
     border-b-4 border-transparent 
    hover:text-purple-500 hover:border-purple-500;
  }
  .nav-link a.active {
    @apply border-purple-500 text-purple-500;
  }
  .fixed-nav {
    @apply w-full fixed top-0 left-0;
    margin-right: calc(100% - 100vw);
  }
</style>
