---
import ActiveLink from "@components/ActiveLink.astro";
import { Image } from "astro:assets";
import Search from "./Search.astro";
import { config } from "@config";
---

<nav
  id='navbar'
  class='theme'>
  <div>
    <ul role='menu'>
      <li>
        <ActiveLink
          href={config.url}
          target={"_blank"}
          title={config.author}>
          <Image
            src={config.avatar}
            alt={config.author}
            loading='lazy'
            width='40'
            height='40'
            class='size-10 rounded-full'
          />
        </ActiveLink>
      </li>
      <li>
        <ActiveLink
          href='/rss.xml'
          target={"_blank"}
          title='订阅'>
          <svg
            xmlns='http://www.w3.org/2000/svg'
            class='size-6 fill-current'
            viewBox='0 0 24 24'
            ><path
              fill='current'
              d='M5 21q-.825 0-1.412-.587T3 19t.588-1.412T5 17t1.413.588T7 19t-.587 1.413T5 21m12 0q0-2.925-1.1-5.462t-3-4.438t-4.437-3T3 7V4q3.55 0 6.625 1.325t5.4 3.65t3.65 5.4T20 21zm-6 0q0-1.675-.625-3.113T8.65 15.35t-2.537-1.725T3 13v-3q2.3 0 4.288.863t3.487 2.362t2.363 3.488T14 21z'
            ></path></svg
          >
        </ActiveLink>
      </li>
      {
        config.nav.map((item) => (
          <li>
            <ActiveLink
              href={item.href}
              title={item.title}>
              {item.title}
            </ActiveLink>
          </li>
        ))
      }
      <li>
      </li>
    </ul>
    <ul>
      <li>{config.simple_search.enable && <Search />}</li>
    </ul>
  </div>
</nav>

<style>
  nav {
    @apply max-sm:h-28 z-10 w-full fixed top-0 left-0;
  }
  div {
    @apply container mx-auto flex flex-wrap justify-evenly items-center;
  }
  ul {
    @apply flex justify-evenly items-center flex-auto;
  }
  [role="menu"] {
    @apply justify-start;
  }
  li {
    @apply flex justify-center items-center flex-auto h-14 mx-1;
  }
  li a {
    @apply flex justify-center items-center h-full w-full;
  }
  li a:hover,
  li a.active {
    @apply bg-primary text-primary-light;
  }
</style>
