---
import ActiveLink from "@components/ActiveLink.astro";
import { Image } from "astro:assets";
import Search from "./Search.astro";
import { config } from "@config";
---

<nav
  id='navbar'
  class='theme'>
  <div>
    <ul id='menu'>
      <li>
        <ActiveLink
          href={config.url}
          target={"_blank"}
          title={config.author}>
          <Image
            src={config.avatar}
            alt={config.author}
            loading='lazy'
            width='40'
            height='40'
            class='size-10 rounded-full'
          />
        </ActiveLink>
      </li>
      {
        config.nav.map((item) => (
          <li>
            <ActiveLink
              href={item.href}
              title={item.title}>
              {item.title}
            </ActiveLink>
          </li>
        ))
      }
      <li>
      </li>
    </ul>
    <ul>
      <li>{config.simple_search.enable && <Search />}</li>
    </ul>
  </div>
</nav>

<style>
  nav {
    @apply max-sm:h-28 z-10 w-full fixed top-0 left-0;
  }
  div {
    @apply container mx-auto flex flex-wrap justify-evenly items-center;
  }
  ul {
    @apply flex justify-evenly items-center flex-auto;
  }
  #menu {
    @apply justify-start;
  }
  li {
    @apply flex justify-center items-center flex-auto h-14 mx-1;
  }
  li a {
    @apply flex justify-center items-center h-full w-full;
  }
  li a:hover,
  li a.active {
    @apply bg-primary text-primary-light;
  }
</style>
