---
import PaginationLink from "./PaginationLink.astro";

type Props = {
  previous: string | null;
  next: string | null;
  current: number;
  last: number;
  url?: string;
  paginate_max_links?: number;
};

const {
  previous,
  next,
  current,
  last,
  url = "",
  paginate_max_links = 3,
} = Astro.props;

const renderPaginator = (
  totalPages: number,
  currentPage: number,
  href: string,
  maxLinks: number
) => {
  const paginationLinks: any[] = [];

  // 计算分页器的起始页码和结束页码
  let startPage: number, endPage: number;
  if (totalPages <= maxLinks) {
    startPage = 1;
    endPage = totalPages;
  } else {
    let halfmaxLinks = Math.floor(maxLinks / 2);
    startPage = Math.max(1, currentPage - halfmaxLinks);
    endPage = Math.min(totalPages, currentPage + halfmaxLinks);
    if (endPage - startPage < maxLinks - 1) {
      if (currentPage <= halfmaxLinks) {
        endPage = Math.min(maxLinks, totalPages);
      } else if (currentPage >= totalPages - halfmaxLinks) {
        startPage = Math.max(totalPages - maxLinks + 1, 1);
      }
    }
  }

  // 如果起始页码大于1，添加"1..."按钮
  if (startPage > 1) {
    paginationLinks.push({ page: 1, isActive: false, href });
    if (startPage > 2) {
      paginationLinks.push({ page: "···", isActive: false, href: "#" });
    }
  }

  // 添加页码按钮
  for (let page = startPage; page <= endPage; page++) {
    paginationLinks.push({
      page,
      isActive: page === currentPage,
      href: page > 1 ? `${href}/${page}` : `${href}`,
    });
  }

  // 如果结束页码小于总页数，添加"...n"按钮
  if (endPage < totalPages) {
    if (endPage < totalPages - 1) {
      paginationLinks.push({ page: "···", isActive: false, href: "#" });
    }
    paginationLinks.push({
      page: totalPages,
      isActive: false,
      href: `${href}/${totalPages}`,
    });
  }

  return paginationLinks;
};

const paginationLinks = renderPaginator(last, current, url, paginate_max_links);

---

<section
  class="flex flex-col justify-center items-center mx-auto w-full md:max-w-screen-sm lg:max-w-screen-md"
>
  <ul class="flex flex-row flex-auto justify-around items-center space-x-3">
    {
      previous && (
        <PaginationLink href={previous}>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-5 h-5"
            viewBox="0 0 20 20"
            fill="currentColor"
          >
            <path
              fill-rule="evenodd"
              d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
              clip-rule="evenodd"
            />
          </svg>
        </PaginationLink>
      )
    }
    {
      last > 1 &&
        paginationLinks.map(({ page, isActive, href }) => (
          <PaginationLink href={href} isActive={isActive}>
            {page}
          </PaginationLink>
        ))
    }
    {
      next && (
        <PaginationLink href={next}>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-5 h-5"
            viewBox="0 0 20 20"
            fill="currentColor"
          >
            <path
              fill-rule="evenodd"
              d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
              clip-rule="evenodd"
            />
          </svg>
        </PaginationLink>
      )
    }
  </ul>
</section>
