---
import FormattedDate from "@components/FormattedDate.astro";

import Tag from "@components/Tag.astro";

const { post } = Astro.props;
const { title, description, pubDate, author, heroImage, tags } = post.data;
const href = `/blog/${post.slug}/`;
---

<li class="flex flex-col
my-5 p-3 acrylic">
  {
    heroImage && (
      <a href={href} class=" p-2">
        <figure id="heroImage" class="flex justify-center items-center ">
          <img src={heroImage} alt={title} loading="lazy" />
        </figure>
      </a>
    )
  }

  <div class="flex flex-col">
    <a href={href} class="text-2xl font-bold py-2 hover:underline">{title}</a>
    <p
      class="text-base p-2"
      title={description ? description : post.body.substring(0, 150)}
    >
      {description ? description : post.body.substring(0, 150)}
    </p>
    <div class="flex justify-between items-center">
      <span><FormattedDate date={pubDate} />{author}</span>
      <div class="flex justify-end items-center w-1/2">
        {
          tags.map((tag) => (
            <a href={`/tags/${tag}`}>
              <Tag tag={tag} />
            </a>
          ))
        }
      </div>
    </div>
  </div>
</li>
