---
import FormattedDate from "@components/FormattedDate.astro";

import Tag from "@components/Tag.astro";

const { post } = Astro.props;
const { title, description, pubDate, author, heroImage, tags } = post.data;
const href = `/blog/${post.slug}/`;
---

<li class="flex flex-col shadow-sm ">
  {
    heroImage ? (
      <a href={href} class="p-2">
        <figure
          id="header-img"
          class="relative bg-cover h-48"
          style={`background-image: url(${heroImage});`}
          title={title}
        >
          <div class="absolute top-0 right-0 w-full h-[inherit] opacity-10 text-gray-50 bg-gray-950" />
        </figure>
      </a>
    ) : (
      ""
    )
  }

  <div class="flex flex-col">
    <a href={href} class="text-2xl font-bold py-2 hover:underline">{title}</a>
    <p class="text-base p-2 ">
      {description}
    </p>
    <div class="flex justify-between items-center">
      <span><FormattedDate date={pubDate} />{author}</span>
      <div class="flex justify-around w-1/4">
        {tags.map((tag) => <a href={`/tags/${tag}`}><Tag tag={tag} /></a>)}
      </div>
    </div>
  </div>
</li>
