---
import Head from "@components/Head.astro";
import Navbar from "@components/Navbar.astro";
import TagCloud from "@components/TagCloud.astro";
import Togglebar from "@components/Togglebar.astro";
import { config } from "@config";
type Props = {
  title?: string;
  description?: string;
};
const { title = config.title, description = config.description } = Astro.props;
const year = new Date().getFullYear();
const author = config.author;
---

<!doctype html>
<html lang="zh-cn" class="m-0 p-0 font-mono scroll-smooth">
  <head>
    <Head title={title} description={description} />
  </head>

  <body
    class="flex flex-col justify-between items-center container mx-auto
           h-full min-h-screen max-w-screen overflow-x-hidden my-0 px-3 text-slate-50 bg-cover bg-fixed bg-no-repeat"
    style={config.bg_images.enable
      ? `background-image: url(${config.bg_images.src});`
      : ""}
  >
    <header
      id="header"
      class="flex flex-col justify-between z-[1] flex-grow basis-1/5 container"
    >
      {
        config.header_images.enable && (
          <div
            class="relative bg-cover md:h-48 h-24"
            style={`background-image: url(${config.header_images.src});`}
          >
            <div
              class="absolute top-0 right-0 w-full  h-[inherit]
              text-gray-50 bg-gray-950/50"
            />
          </div>
        )
      }
      <Navbar />
    </header>
    <main
      id="main"
      class="flex flex-row basis-3/5 justify-between items-start max-md:flex-col my-4 relative min-h-screen container"
    >
      <div
        class="flex flex-col max-md:order-2 justify-start items-center basis-2/3  lg:relative min-h-screen lg:overflow-y-auto"
      >
        <slot />
      </div>
      <aside
        class="flex flex-col max-md:order-1 justify-start items-center basis-1/3 md:pl-2 lg:sticky max-md:relative lg:top-20"
      >
        <slot name="siderbar" />
      </aside>
    </main>

    <footer
      id="footer"
      class="flex flex-col basis-1/5 justify-center items-center text-inherit w-[inherit] my-10 container"
    >
      <small>
        {author} &copy; {year}
        <a href="https://github.com/XtrueT" class="">view on Github</a>
      </small>
      <Togglebar />
    </footer>
  </body>
</html>
