---
import FormattedDate from "../components/FormattedDate.astro";
import DefaultLayout from "./DefaultLayout.astro";
import Tocbar from "@components/Tocbar.astro";
import Tag from "@components/Tag.astro";

const { frontmatter, headings, description } = Astro.props;
---

<DefaultLayout
  title={frontmatter.title}
  description={frontmatter.description ? frontmatter.description : description}
>
  <article
    class="w-full acrylic p-5 prose-lg lg:prose-lg
  prose-h1:font-bold
prose-a:text-blue-500
hover:prose-a:text-purple-500
  hover:prose-a:underline
  prose-p:text-justify
  prose-img:rounded-md
  prose-img:m-auto
  prose-headings:underline 
  dark:prose-invert"
  >
    <div class="flex flex-col border-b-2 border-slate-600 mb-5">
      <h1>{frontmatter.title}</h1>
      <div class="flex justify-start items-center text-sm">
        <span class="mx-1">
          <FormattedDate date={frontmatter.pubDate} />
        </span>
        <span class="mx-1">
          Written by: {frontmatter.author}
        </span>
        <span class="mx-1">
          {frontmatter.tags.map((tag) => <Tag tag={tag} />)}
        </span>
      </div>

      {
        frontmatter.heroImage && (
          <img src={frontmatter.heroImage} alt={frontmatter.title} loading="lazy"/>
        )
      }
    </div>

    <slot />
  </article>
  <section slot="siderbar"></section>

  <Tocbar headings={headings} slot="siderbar" title={frontmatter.title}/>
</DefaultLayout>
