---
import TagCloud from "@components/TagCloud.astro";
import FormattedDate from "../components/FormattedDate.astro";
import PostTOCLink from "@components/PostTOCLink.astro";
import DefaultLayout from "./DefaultLayout.astro";
import { config } from "@config";
const { post } = Astro.props;
const frontmatter = post.data;
---

<DefaultLayout
  title={frontmatter.title ? frontmatter.title : config.title}
  description={frontmatter.description
    ? frontmatter.description
    : config.description}
>
  <div class="flex flex-col justify-center items-center w-3/5 max-sm:w-full">
    <article
      class="w-full prose dark:prose-invert
  prose-h1:font-bold prose-h1:text-xl
  prose-a:text-blue-600 prose-p:text-justify prose-img:rounded-xl
  prose-headings:underline"
    >
      <FormattedDate date={frontmatter.pubDate} />
      <p><em>{frontmatter.description}</em></p>
      <p>Written by: {frontmatter.author}</p>
      <p>
        {frontmatter.tags.map((tag) => <span>{tag}</span>)}
      </p>
      <img src={frontmatter.heroImage} alt={frontmatter.title} />
      <slot />
    </article>
  </div>
  <!-- <PostTOCLink headings={headings} slot="siderbar"/> -->
</DefaultLayout>
