---
import FormattedDate from "../components/FormattedDate.astro";
import DefaultLayout from "./DefaultLayout.astro";
import Tocbar from "@components/Tocbar.astro";
import SlicePostList from "@components/SlicePostList.astro";

const { frontmatter, headings, description } = Astro.props;
---

<DefaultLayout
  title={frontmatter.title}
  description={frontmatter.description ? frontmatter.description : description}
>
  <article
    class="w-full prose lg:prose-lg
      dark:prose-invert
  prose-h1:font-bold
  prose-a:text-blue-600
  prose-p:text-justify
  prose-img:rounded-xl
  prose-headings:underline"
  >
    <h1>{frontmatter.title}</h1>
    <FormattedDate date={frontmatter.pubDate} />
    <p><em>{frontmatter.description}</em></p>
    <p>Written by: {frontmatter.author}</p>
    <p>
      {frontmatter.tags.map((tag) => <span>{tag}</span>)}
    </p>
    {
      frontmatter.heroImage && (
        <img src={frontmatter.heroImage} alt={frontmatter.title} />
      )
    }
    <slot />
  </article>

  <Tocbar headings={headings} slot="siderbar" />
  <SlicePostList slot="siderbar" />
</DefaultLayout>
